[Unit]
Description=Start pixy C bin
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/home/pi/pixy

[Install]
WantedBy=multi-user.target