[Unit]
Description=Start pixy python script
After=syslog.target
StartLimitIntervalSec=0
Requires=pixyc.service

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/python /home/pi/src/Pixy-SIW/main.py

[Install]
WantedBy=multi-user.target
