[Unit]
Description=Start pixy C script
After=syslog.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/home/pi/src/Pixy-SIW/pixycamera

[Install]
WantedBy=multi-user.target
