[Unit]
Description=Start pixy C script
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/bin/python /home/pi/src/Pixy-SIW/pixy
ExecStartPre=/bin/sleep 3

[Install]
WantedBy=multi-user.target
